
#functions

exportPattern(DER, FCA, SINENVAP)

importFrom(graphics, par, legend, text, plot, points, boxplot, mtext, lines)

importFrom(utils, write.csv, write.csv2, write.table)

importFrom(grDevices, chull, cm.colors, gray.colors, heat.colors, terrain.colors, topo.colors, dev.new, dev.off)

importFrom(stats, lm, na.exclude, dist, IQR, quantile, residuals, step, aggregate, complete.cases)

import(rgeos)









